.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoName {
  margin-left: 200px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.lang {
  display: flex;
  align-items: center;
  gap: 5px;
}

.langText {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1200px) {
  .logoName {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }
  .logo {
    width: 20px;
    height: 20px;
  }
  .icons {
    gap: 4px;
  }

  .search {
    width: 15px;
    height: 15px;
  }
  .hidden {
    display: none;
  }
  .lang {
    display: none;
  }
}
